<div class="box">
  <div class="col-md-3"></div>

    <form name="mortgagecalc" method="POST">
      <div class="rate">Loan Amount:</div>
      <div class="letter"><input id="loansize" type="text" onkeypress=""></div>
      <div class="rate">What will be the term of this mortgage (in years)?</div>
      <div class="letter"><input id="years" type="text" onkeypress="" name="yearsSize"=5></div>
      <div class="rate">Interest Rate:</div>
      <div class="letter"><input id="interest" type="text" onkeypress="" name="" rateSize=5></div>
      <div class="letter"><input id="calculate" type="button" value="Find My Payment"></input></div>
    </form>

    <div id="monthlyPayment" class="rate" ></div>
</div>




