<!-- <div class="show"><h1>Application Form</h1></div>
<form name="application" method="POST">
  <div class="show">First Name:</div>
  <div class="letter"><input id="loansize" type="text" onkeypress=""></div>
  <div class="show">Last Name:</div>
  <div class="letter"><input id="years" type="text" onkeypress="" name="yearsSize"=5></div>
  <div class="show">Address:</div>
  <div class="letter"><input id="interest" type="text" onkeypress="" name="" rateSize=5></div>
  <div class="show">Annual Gross Income:</div>
  <div class="letter"><input id="income" type="text" onkeypress=""></div>
  <div class="show">Fico Score:</div>
  <div class="letter"><input id="ficoScore" type="text" onkeypress="" name=""=5></div>
  <div class="show">Bankruptcy</div>
  <div class="letter"><input id="bankruptcy" type="boolean" onkeypress="" name="" rateSize=5></div>
  <input id="approval" type="button" value="Get Approval"></input>
</form>
<div id="terms" class="show" ></div>

<div id="max" class="show" ></div>
 -->

