<% if (@application.bankruptcy == true) || (@application.fico_score < 550) %>
   <div class="show">Your loan has been denied.</div>
<% else %>

  <div class="show">Your loan has been approved.</div>

  <div class="show">Max loan: <%= number_to_currency(@application.max_loan(@rates, :thiry_year_fixed)) %></div>
  
  <div class="show">Your Interest Rate (30-Year Fixed): <%= @application.interest_evaluation(@rates, :thiry_year_fixed) %>%</div>
  <div class="show">Your Interest Rate (15-Year Fixed): <%= @application.interest_evaluation(@rates, :fifteen_year_fixed) %>%</div>
  <div class="show">Your Interest Rate (5/1 ARM): <%= @application.interest_evaluation(@rates, :five_one_arm) %>%</div>
<% end %>







