<% if (@application.bankruptcy == true) || (@application.fico_score < 550) %>
   <div class="show">Your loan has been denied.</div>
<% else %>

  <div class="show">Your loan has been approved.</div>
  <div class="show">Max loan: <%= @application.max_loan %></div>
  <div class="show">Your Interest Rate: <%= @application.interest_evaluation(@rates) %></div>
    
<% end %>







