<div class="show"><h1>Current Rates</h1>
<h2>30 year fixed rate: <%= @rates[:thiry_year_fixed] %></h2>
<h2>15 year fixed rate: <%= @rates[:fifteen_year_fixed] %></h2>
<h2>5/1 ARM: <%= @rates[:five_one_arm] %></h2></div>

